[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
localstack = "*"
flake8 = "*"

[packages]
pydub = "*"
boto3 = "*"
awscli = "*"

[requires]
python_version = "3.7"
